html
{
	font-size: 62.5%;
}

body
{
	font-size: 1rem;
	font-family: $Font;

	scroll-behavior: smooth;
}

body.lock {
    overflow: hidden;
}

html, body
{
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.button
{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button span
{
    position: absolute;
    background: #f5f5f5;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripples 1s linear;
    z-index: 5;
}

.button i {
    z-index: 10;
    pointer-events: none;
}

@keyframes ripples
{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.overlay
{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.75);
    transition: .25s;
}

.overlay.show
{
    transition: .25s;
    opacity: 1;
    visibility: visible;
}

.modal
{
    position: absolute;
    z-index: 25;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 0 0 10px 10px;

    &__underline
    {
        position: absolute;

        height: 10px;
        top: -10px;
        left: 0;
        right: 0;

        background: $Blue;
        border-radius: 10px 10px 0 0;
    }

    &__title
    {
        color: $Black;
        font-size: 20px;
        margin-bottom: 15px;

        text-align: center;
        text-transform: uppercase;
    }
}

@media (max-width: 567px)
{
    .modal
    {
        width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 0;
    }
}